.navigation-link {

  display: flex;
  align-items: center;
  gap: .75rem;

  padding-left: 1rem;
  border-radius: .5rem;

  width: 100%;
  height: 48px;

  color: var(--text-primary);

  transition: all .2s;

  img {
    width: 1.75rem;
  }

  span {
    opacity: .5;
  }

  &.active {

    background-color: var(--background-secondary);

    span {
      opacity: 1;
    }
  }

  &:hover {
    background-color: var(--background-secondary);
  }
}