.content-card {
    width: 100%;

    border-radius: .5rem;
    border: 1px solid #292929;

    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
}

.content-card:hover {
    border-color: #454545;
}

.content-card .cover {
    width: 100%;
    aspect-ratio: 16 / 9;
    transition: all .5s;
}

.content-card:hover .cover {
    transform: scale(1.05);
}

.content-card .overlay {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    position: relative;

    width: 100%;
    padding: 8px 16px;

    color: #fff;
    background: #222222;

    z-index: 100;
}

.content-card .overlay .overlay-tags {
    opacity: .5;
    font-size: .8rem;
}