.sidebar-styled {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: fixed;
    top: 0;
    left: 0;

    padding: 2rem;

    width: 300px;
    height: 100%;

    background: var(--background-primary);
    border-right: 1px solid var(--border-primary);
}

.sidebar-styled .sidebar-logo {
    padding-left: .5rem;
}

.sidebar-styled .sidebar-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.sidebar-navigation .navigation-link {
    display: flex;
    align-items: center;
    gap: .75rem;

    padding-left: 1rem;
    border-radius: .5rem;

    width: 100%;
    height: 48px;

    color: var(--text-primary);

    transition: all .2s;
}

.sidebar-navigation .navigation-link img {
    width: 1.75rem;
}

.sidebar-navigation .navigation-link span {
    opacity: .5;
}

.sidebar-navigation .navigation-link.active {
    background-color: var(--background-secondary);
}

.sidebar-navigation .navigation-link.active span {
    opacity: 1;
}

.sidebar-navigation .navigation-link:hover {
    background-color: var(--background-secondary);
}

.sidebar-styled .sidebar-footer {
    position: absolute;
    bottom: 2rem;
    left: 4rem;

    color: var(--text-primary);
    font-size: .9rem;
}

.sidebar-styled .sidebar-footer p {
    opacity: .5;
}