/* Genereic imports */
@import "./reset.css";

/* Component style imports */
@import "./componentStyles/sidebar-styles.css";
@import "./componentStyles/toggleButton-styles.css";
@import "./componentStyles/searchBar-styles.css";
@import "./componentStyles/contentCard-styles.css";


/* Global styling */
html {
    background: #1c1c1c;
}

body {
    width: 100dvw;
    height: 100dvh;
}


/* Render point styling */
#render-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: calc(100dvw - 300px);
    height: 100dvh;

    margin-left: 300px;
    padding: 2.5rem;
}

/* Page header */
.page-header {
    display: flex;
    align-items: center;
    gap: .5rem;

    width: 100%;
    font-size: 2rem;
}

.page-header .header-title {
    color: #fff;
}

.page-header .header-sum {
    color: #838383;
}


/* Content grid */
.content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
}


/* Error message wrapper */
.error-wrapper {
    color: #fff;
}